*

!.bashrc

!.gitignore
!.gitconfig

!.config
.config/*
# ------------------------------
!.config/alacritty
!.config/alacritty/**
# ------------------------------
!.config/awesome
!.config/awesome/**
.config/awesome/xxx-awesome-*/
.config/awesome/themes/**
!.config/awesome/themes/default
!.config/awesome/themes/xresources
# ------------------------------
!.config/fish
!.config/fish/**
# ------------------------------
!.config/fontconfig/
!.config/fontconfig/conf.d
!.config/fontconfig/conf.d/00-Aliases.conf
# ------------------------------
!.config/lf
!.config/lf/**
# ------------------------------
!.config/nvim
!.config/nvim/**
# ------------------------------
!.config/picom
!.config/picom/**
# ------------------------------
!.config/polybar
!.config/polybar/**
# ------------------------------
!.config/rofi
!.config/rofi/**
# ------------------------------
!.config/starship
!.cinfig/startship/**
# ------------------------------
!.config/sxhkd
!.config/sxhkd/**
# ------------------------------
!.config/vs-code
!.config/vs-code/**

!.local
.local/*
!.local/bin
!.local/bin/*

!.aliases

.git
*.luar

