*

!.gitignore

!.config
.config/*
!.config/alacritty
!.config/alacritty/**
!.config/awesome
!.config/awesome/**
!.config/lf
!.config/lf/**
!.config/picom
!.config/picom/**
!.config/polybar
!.config/polybar/**
!.config/rofi
!.config/rofi/**
!.config/starship
!.cinfig/startship/**
!.config/sxhkd
!.config/sxhkd/**
!.config/vs-code
!.config/vs-code/**

!.local
.local/*
!.local/bin
!.local/bin/*

!.aliases

.git

